<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HostelWorldWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Suspend</servlet-name>
    <servlet-class>servlet.associator.Suspend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Recharge</servlet-name>
    <servlet-class>servlet.associator.Recharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Publish</servlet-name>
    <servlet-class>servlet.hostel.Publish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckoutCard</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckoutCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HostelReserveHistory</servlet-name>
    <servlet-class>servlet.history.HostelReserveHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatHostels</servlet-name>
    <servlet-class>servlet.manager.StatHostels</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomPayment</servlet-name>
    <servlet-class>servlet.hostel.RoomPayment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssociatorReserveList</servlet-name>
    <servlet-class>servlet.history.AssociatorReserveList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomAddition</servlet-name>
    <servlet-class>servlet.hostel.RoomAddition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAuditHostel</servlet-name>
    <servlet-class>servlet.manager.ManageAuditHostel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckoutCash</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckoutCash</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAuditRepudiate</servlet-name>
    <servlet-class>servlet.manager.ManageAuditRepudiate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAuditPass</servlet-name>
    <servlet-class>servlet.manager.ManageAuditPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestAuthentation</servlet-name>
    <servlet-class>servlet.common.TestAuthentation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReserveRoomPre</servlet-name>
    <servlet-class>servlet.associator.ReserveRoomPre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.common.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishSchedule</servlet-name>
    <servlet-class>servlet.hostel.PublishSchedule</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReserveCancel</servlet-name>
    <servlet-class>servlet.associator.ReserveCancel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReserveHostelList</servlet-name>
    <servlet-class>servlet.associator.ReserveHostelList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckInReserve</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckInReserve</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCheckinDate</servlet-name>
    <servlet-class>servlet.common.CheckCheckinDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.common.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckoutList</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckoutList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckoutPre</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckoutPre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssociatorPayList</servlet-name>
    <servlet-class>servlet.history.AssociatorPayList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckIn</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserPageManager</servlet-name>
    <servlet-class>servlet.common.UserPageManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyHostel</servlet-name>
    <servlet-class>servlet.hostel.ModifyHostel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatAssociators</servlet-name>
    <servlet-class>servlet.manager.StatAssociators</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckManagerCredit</servlet-name>
    <servlet-class>servlet.common.CheckManagerCredit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckReserveDate</servlet-name>
    <servlet-class>servlet.common.CheckReserveDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckInPre</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckInPre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReserveRoom</servlet-name>
    <servlet-class>servlet.associator.ReserveRoom</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HostelPayList</servlet-name>
    <servlet-class>servlet.history.HostelPayList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomCheckInList</servlet-name>
    <servlet-class>servlet.hostel.RoomCheckInList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Activate</servlet-name>
    <servlet-class>servlet.associator.Activate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditHostel</servlet-name>
    <servlet-class>servlet.hostel.AuditHostel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReserveRoomList</servlet-name>
    <servlet-class>servlet.associator.ReserveRoomList</servlet-class>
  </servlet>
</web-app>